.cover{
    display: -ms-flexbox!important;
    display: flex!important;
    /* padding: 10px; */
}
.title{
    color: black;
    font-size: large;
    font-weight: bold;
}
.coverInfocontent{
     display: -ms-flexbox!important;
    display: flex!important;
    align-items: center;
    margin: 10px 0;
   
}
.coverInfocontent__name{
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
.coverInfocontent__date{
    margin-left: 10px;
}